* {
    margin: 10px;
}

.main-title {
    font-size: 50px;
}

.sub-title {
    font-size: 30px;
}

.amazon-river {
    width: 800px;
}

.sub-title2 {
    font-size: 20px;
    
}

.sub-title3 {
    font-size: 20px;
    
}

.paragraph1 {
    font-size: 20px;

}

.paragraph2 {
    font-size: 20px;
    
}

.paragraph3 {
    font-size: 20px;
    
}

.paragraph4 {
    font-size: 20px;
    
}

.paragraph5 {
    font-size: 20px;
    
}